.logo-container {
    display: flex;
}

.logo-img {
    width: 70px;
    margin: 0 23px 0 0;
}

.header-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.29px;
    margin: 0;
    padding: 0;
}
