.section-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 60px*2 - 759px - 758px);
}

.section-menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.section-menu-item {
    color: var(--text-desabled);
    font-family: Roboto;
    font-size: 13px;
    line-height: 15.23px;
    letter-spacing: 0.57px;
    margin: 0 0 32px 0;
    padding: 0 4px 2px;
    box-sizing: border-box;
    cursor: pointer;
    transition: border-bottom var(--duration) ease;
}

.section-menu-item:last-of-type {
    margin-bottom: 0;
}

.section-menu-item:hover {
    border-bottom: solid 9px var(--background-accent);
}


.section-menu-item_type_active {
    color: var(--base-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.57px;
    border-bottom: solid 9px var(--background-accent);
}




