@import url(./styles/vendor/normalize.css);
@import url(./styles/vendor/fonts/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --base-color: #262525;
  --background: #FFFFFF;
  --background-alternative: #F0F0F0;
  --background-accent: #EBD8CC;
  --accent: #D88F5E;

  --text-desabled: #505050;

  --duration: 0.15s;
}
